.backUrl{
    width: 500px;
    height: 300px;
}

.siteDetails-title{
    margin-left:30px;
}

.siteDetails-desc{
    margin-left:30px;
    line-height: 35px;
    letter-spacing: 5px;
    font-size: 20px;
}

.siteDetails-btn{
    margin-left:30px;
    margin-top:20px;
}

.siteDetails-btn:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

.separator {
    border-top: 1px solid #000;
    margin: 20px 0;
}

.siteBottomAd{
    margin-top: 200px;
}
